#page-user-list {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#button-group {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  height: 3rem;
  width: 200px;
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.6rem Archivo;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.2s;
  margin-top: 1rem;
}
